body{background-color: brown}



h1{text-align: center;
    color: wheat;
    font-weight: bold}

h2{text-align: center;
    color: teal;
    font-weight: bold}

p1{text-align: center;
    color: seashell;
    font-style: italic}